.wrapper {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include media-query($breakpoint) {
    max-width: $max-width;
    padding: 30px 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

.card {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  &--reverse {
    @include media-query($breakpoint) {
      flex-direction: column-reverse;
    }
  }

  @include media-query($breakpoint) {
    width: 32%;
    margin-bottom: 0;
  }

  &__image {
    width: 100%;

    &-container {
      position: relative;
    }
  }

  &__heart {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    background-color: $color-white;
    border-radius: 50%;
    padding: 10px;
  }

  &__description {
    padding: 15px 0;
    text-align: center;
    color: $color-text;
  }

  &__title {
    text-transform: uppercase;
    font-size: $font-l;
    margin: 10px 0 5px;
    line-height: 1.2;

    @include media-query($breakpoint) {
      margin: 25px 0 10px;
    }
  }

  &__subtitle {
    font-size: $font-m;
  }

  &__link {
    display: inline-block;
    margin-top: 30px;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-s;

    @include media-query($breakpoint) {
      margin-bottom: 30px;
    }
  }

  &__link:hover &__arrow {
    transform: translateX(5px);
  }

  &__arrow {
    margin-left: 5px;
    transition: transform 0.2s;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
